In [1]:
import streamlit as st
import streamlit_authenticator as stauth

import pandas as pd
import yaml
from yaml.loader import SafeLoader

import plotly.express as px
import plotly.graph_objects as go

import requests

# Database connection parameters
from sqlalchemy import create_engine, text
import os

2024-12-05 07:47:05.190 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-05 07:47:05.193 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-05 07:47:05.194 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-05 07:47:05.195 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [13]:
def calculo_horas(time_period):
    if time_period=='1 hora':
        var_salida = 60
    elif time_period == '1 día':
        var_salida = 60*24
    elif time_period == '2 días':
        var_salida = 60*24*2
    elif time_period == '7 días':
        var_salida = 60*24*7
    elif time_period == '1 mes':
        var_salida = 60*24*30
    elif time_period == '1 año':
        var_salida = 60*24*365
    return var_salida


var_time_resolution = calculo_horas('2 días')

In [26]:

db_url = 'mysql+mysqlconnector://admin_sos:ADM_sos*01@185.47.245.164/sosein_automatization'
engine = create_engine(db_url)

query1 = """SELECT signal_name, valor, `Timestamp`
FROM sosein_automatization.datos_sensores_azure
where (STR_TO_DATE(`Timestamp`, '%d-%m-%Y %H:%i:%s')> NOW() - INTERVAL var_time_resolution MINUTE) and signal_name IN ('TCAP_VASO', 'TCAP_ACS', 'TC_VASO', 'TF_VASO', 'TPLACAS_SALIDA', 'TDAC_VASO', 'TDS_ACS', 'TDE_ACS', 'TDAF_ACS', 'TDAC_ACS', 'TINT_VASO', 'TINT_ACS', 'TDAF_VASO')
order by `Timestamp` DESC;"""
query1 = query1.replace('var_time_resolution', str(var_time_resolution))

df = pd.read_sql(query1, engine)

In [27]:
df

     signal_name  valor            Timestamp
0      TDAF_VASO     36  05-12-2024 07:50:13
1        TC_VASO     26  05-12-2024 07:50:12
2        TF_VASO     23  05-12-2024 07:50:10
3      TCAP_VASO      8  05-12-2024 07:50:01
4       TCAP_ACS      7  05-12-2024 07:50:00
...          ...    ...                  ...
6748   TINT_VASO     14  03-12-2024 07:53:52
6749    TDAC_ACS     41  03-12-2024 07:53:52
6750    TINT_ACS     11  03-12-2024 07:53:50
6751   TCAP_VASO     11  03-12-2024 07:53:49
6752    TCAP_ACS     10  03-12-2024 07:53:47

[6753 rows x 3 columns]