In [1]:
import streamlit as st
import streamlit_authenticator as stauth

import pandas as pd
import yaml
from yaml.loader import SafeLoader

import plotly.express as px
import plotly.graph_objects as go

import requests

# Database connection parameters
from sqlalchemy import create_engine, text
import os

2024-12-23 08:13:18.925 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-23 08:13:18.927 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-23 08:13:18.929 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-23 08:13:18.930 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [13]:
def calculo_horas(time_period):
    if time_period=='1 hora':
        var_salida = 60
    elif time_period == '1 día':
        var_salida = 60*24
    elif time_period == '2 días':
        var_salida = 60*24*2
    elif time_period == '7 días':
        var_salida = 60*24*7
    elif time_period == '1 mes':
        var_salida = 60*24*30
    elif time_period == '1 año':
        var_salida = 60*24*365
    return var_salida


var_time_resolution = calculo_horas('2 días')

In [2]:

db_url = 'mysql+mysqlconnector://admin_sos:ADM_sos*01@185.47.245.164/sosein_automatization'
engine = create_engine(db_url)

query1 = """select * from sosein_automatization.sensor_data_iaxxon"""

df = pd.read_sql(query1, engine)

In [4]:

df.fillna(0, inplace=True)

In [6]:
df['suma'] = df['TCAP']+ df['TEXT']+df['TDAC']+df['TINT']+df['TAC1']+df['TRET']+df['TDAF']

In [11]:
df[df['suma']==0]

,id,TCAP,TEXT,TDAC,TINT,TAC1,TRET,fan,pump,heat,datetime,instalacion,TDAF,suma
5,6,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-21 21:20:56,sosein_prueba,0.0,0.0
9,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-21 21:23:58,sosein_prueba,0.0,0.0
10,11,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-21 21:23:58,piscina_villanueva,0.0,0.0
19,20,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-21 21:25:55,sosein_prueba,0.0,0.0
20,21,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-21 21:25:56,cfvillanueva,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,1157,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-23 08:08:52,cfvillanueva,0.0,0.0
1157,1158,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-23 08:08:52,cfvillanueva,0.0,0.0
1188,1189,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-23 08:12:54,piscina_villanueva,0.0,0.0
1189,1190,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-23 08:12:54,piscina_villanueva,0.0,0.0
1190,1191,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,2024-12-23 08:12:54,piscina_villanueva,0.0,0.0

In [18]:
df_errores = df[(df['suma'] == 0) & ((df['fan'] != 0) | (df['pump'] != 0) | (df['heat'] != 0))]
df_errores[df_errores['instalacion']!='sosein_prueba'].to_excel('datos_findesemana_20_22dic.xlsx', index=False, engine = 'openpyxl')